/* QualityTabs.css */
.quality-container {
    height: 80vh;
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 5%;
    overflow: hidden;
    margin: 10px 0px;
  }
  .quality-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.5); /* black tint */
    z-index: 1;
  }
  .tabs_block{
    /* border: 1px solid red; */
    margin-top: 50px;
    position: relative;
    z-index: 2;
  }
  
  .tabs {
    display: flex;
    gap: 40px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  
  .tab {
    cursor: pointer;
    padding-bottom: 4px;
    position: relative;
    color: #ccc;
    transition: all 0.3s ease;
  }
  
  .tab.active {
    color: #007bff;
  }
  
  .tab.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #007bff;
  }
  
  .quality-content h1 {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 10px;
    color: white;
  }
  
  .quality-content p {
    font-size: 1rem;
    max-width: 600px;
    line-height: 1.6;
    color: white;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .tabs {
      flex-direction: column;
      gap: 10px;
    }
  
    .quality-content h1 {
      font-size: 2rem;
    }
  
    .quality-content p {
      font-size: 1rem;
    }
  }
  